{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
        <div class="hideIt1 hideIt2 question">
            <div class="labels">Avez-vous besoin d'un conseiller/d'une agence ?</div>
            <div class="nextOne choices">Oui</div>
            <div id="secondButtonQuestion" class = "choices">Non</div>
        </div>
    {{ form_widget(form.affiliate) }}

        <div class="hideIt1 hideIt2 question">
            <div class="labels">Voyagez-vous :</div>
            <div class="nextOne choices">plus de 2 fois par an </div>
            <div id="secondButtonQuestion" class = "choices">plus de 2 fois par an </div>
            <div id="thirdButtonQuestion" class = "choices">jamais</div>
        </div>
    {{ form_widget(form.travel) }}

        <div class="hideIt1 hideIt2 question">
            <div class="labels">Si oui : voyagez-vous hors zone euro ?</div>
            <div class="nextOne choices">Oui</div>
            <div id="secondButtonQuestion" class = "choices">Non</div>
        </div>
    {{ form_widget(form.eurozone) }}

        <div class="hideIt1 hideIt2 question"></div>
            <div class="labels">Combien versez-vous sur votre compte tous les mois ?</div>
            <div class="nextOne choices">Moins de 1000€</div>
            <div id="secondButtonQuestion" class = "choices">entre 1000 et 1500€</div>
            <div id="thirdButtonQuestion" class = "choices">entre 1500 et 3000€</div>
            <div id="fourthButtonQuestion" class = "choices">plus de 3000€</div>
    {{ form_widget(form.earnings) }}

        <div class="hideIt1 hideIt2 question"></div>
            <div class="labels">Si oui : voyagez-vous hors zone euro ?</div>
            <div class="nextOne choices">Oui</div>
            <div id="secondButtonQuestion" class = "choices">Non</div>
    {{ form_widget(form.overdraft_loan) }}

        <div class="hideIt1 hideIt2 question"></div>
            <div class="labels">Faites-vous des paiements à distance ? </div>
            <div class="nextOne choices">Oui</div>
            <div id="secondButtonQuestion" class = "choices">Non</div>
    {{ form_widget(form.insurance) }}

        <div class="hideIt1 hideIt2 question"></div>
            <div class="labels">En station-service ?</div>
            <div class="nextOne choices">Oui</div>
            <div id="secondButtonQuestion" class = "choices">Non</div>
    {{ form_widget(form.scale) }}

        <div class="hideIt1 hideIt2 question"></div>
            <div class="labels">Préférez-vous une carte : </div>
            <div class="nextOne choices">à débit immédiat ?</div>
            <div id="secondButtonQuestion" class = "choices">à débit différé ?</div>
    {{ form_widget(form.type) }}

        <div class="hideIt1 hideIt2 question"></div>
            <div class="labels">Faites-vous des retraits dans d’autres banques ?</div>
            <div class="nextOne choices">Oui</div>
            <div id="secondButtonQuestion" class = "choices">Non</div>
    {{ form_widget(form.withdrawal) }}

        <div class="tenthQuestion">Votre nom</div>
    {{ form_widget(form.name) }}

        <div class="eleventhQuestion">Votre prénom</div>
    {{ form_widget(form.firstname) }}

        <div class="twelfthQuestion">Votre tranche d'âge</div>
            <div class="nextOne choices">entre 18 et 25 ans</div>
            <div id="secondButtonQuestion" class = "choices">plus de 25 ans</div>
    {{ form_widget(form.age) }}

        <div class="thirteenthQuestion">Votre e-mail</div>
    {{ form_widget(form.email) }}

        <button type="submit" name="dispatch">Envoi</button>
    {{ form_end(form) }}

{% endblock %}
