{% extends "base.html.twig" %}

{% block header %}
    <div class="top-header">
    {{ form_start(form) }}
        <div id="searchBar">{{ form_row(form.Recherche) }}</div>
        <button class=search type="submit" name="btnSearch"><img src="{{ asset('build/images/logo-loupe.png')}}" alt="loupe"/></button>
    {{ form_end(form) }}
    </div>

    <div class="bottom-header">
    <button class="navbar-ws" type="button">
        <a class="navbar-brand" href="#"></a>
    </button>
    <h1>Ma new bank</h1>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <button class="navbar-toggler" type="button">
                <li class="nav-item">
                    <a class="nav" href="#">Banque physique</a>
                </li>
            </button>
            <button class="navbar-toggler" type="button">
                <li class="nav-item">
                    <a class="nav" href="#">Banque en ligne</a>
                </li>
            </button>
            <button class="navbar-toggler" type="button">
                <li class="nav-item">
                    <a class="nav" href="#">Comparateur</a>
                </li>
            </button>
        </ul>
    </div>
    <h1>Bonjour</h1>
</div>
{% endblock %}

{% block body %}
    <h2>{{ controller_name }} !</h2>
    <button class="survey" type="button">Je réponds au questionnaire</button>
{% endblock %}


